language: php

php:
  - 5.6
  - 7.0
  - 7.1

sudo: false

before_install:
  - composer install
script:
  - vendor/bin/phpcs
  - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)